@import "../index.less";

.recent-plays {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 7px;
}

.recent-title-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.recent-title {
    margin-left: 25px;
    user-select: text;
    color: white;
    font-size: 30px;
    font-family: "Skranji", sans-serif;
}

.recent-row-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recent-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.recent-img {
    cursor: pointer;
    max-width: 16vw;
    height: auto;
    margin: 10px;
    &:active {
        filter: brightness(110%);
    }
}

.recent-square {
    max-width: 160px;
    height: auto;
    margin: 10px;
    opacity: 0;
}

.recent-img-yt {
    cursor: pointer;
    width: auto;
    max-height: 12vw;
    margin: 10px;
    &:active {
        filter: brightness(110%);
    }
}

.recent-page-buttons {
    
}

.recent-page-button {
    cursor: pointer;
    width: 35px;
    margin-right: 15px;
}